@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-mono: var(--font-kode-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-kode-mono), var(--font-noto-sans-jp), monospace;
}
